{% extends "base.html" %}

{% block main %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="/static/assets/img/m2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3 align="justify">Web data mining uses algorithms to sift through vast amounts of online content, identifying patterns, keywords, and sentiments associated with terrorism. This process helps in detecting radical content and extremist propaganda spread across various platforms.</h3>
          <p align="justify" class="fst-italic">
            By analyzing the structure and dynamics of social networks, authorities can identify and monitor the online activities of groups and individuals associated with terrorism. SNA helps in uncovering hidden relationships and communication patterns among extremists.
          </p>
          <ul>
            <li align="justify"><i class="bi bi-check-circle"></i>Leveraging historical data and machine learning models, predictive analytics can forecast potential terrorist activities and threats. This proactive approach aids in identifying and mitigating risks before they materialize.</li>
            <li align="justify"><i class="bi bi-check-circle"></i> With the increasing use of images, videos, and audio for propaganda, multimedia data mining becomes crucial. It involves the extraction of patterns and useful information from multimedia files, aiding in the detection of visual and auditory signals linked to terrorism.</li>
          </ul>
          <p align="justify">
            This technique focuses on identifying unusual patterns or outliers in data that deviate from the norm. Anomaly detection can flag suspicious online behaviors or content, helping in the early identification of emerging threats and the prevention of terrorist activities.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

{%endblock%}