{% extends "uhome.html" %}

{% block app %}

<div class="card text-bg-dark">
    <img src="/static/assets/img/m1.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">

        <section class="vh-100" id="myimage">

            <center style="color: black;">
                <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
                    <h1>Welcome</h1>
                    <h2>\Web Data Mining To Detect Online Spread Of Terrorism</h2>
                </div>




            </center>
        </section>
    </div>
</div>








{% endblock %}